
.navbar {
    position: relative;
    display: flex;
    width: auto;
}

.rt-box {
    height: 95vh;
    width: fit-content;
    padding: 10px;
    background-color: #227F9D;
}

.rt-box input {
    border: 1px solid grey;
    border-radius: 30px;
    height: 30px;
    width: 170px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #fff;

}
.search {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 1rem;
}
.small-box{
    display: flex;
}
.search-icon{
    margin-left:-28px;
    margin-top: 5px;
    font-size: 20px;
    font-weight:300;
}
.profile-icon img{
    height: 60px;
}
.lt-rt{
display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.profile-icon{
    margin-top: 10px;
    margin-left: 20px;
}
#loginButtonOnHomepage{
    border-radius: 33px;
    margin-left: 1rem;
    border: 1px solid aliceblue;
    height: 2.5rem;
    margin-top: 25px;
    cursor: pointer;
    background-color: #227F9D;
    width: 2.7rem;
    color: aliceblue;
}
.sidebox{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}
.home .homeimg{
    width: 570px;
}

.home h1{
    font-weight: 900;
    font-size: 4rem;
    width: 39vw;
    letter-spacing: 10px;
}
.heroPara{
    color: #000000B5;
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.6px;
    width: 40vw;
}

#homeExplore{
    background-color: #227F9D;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: transparent;
    height: 40px;
    width: 100px;
    text-align: center;
    justify-content: center;
}
.sidebox-column{
    margin-top: 5rem;
    display: flex;
    margin-left:1rem ;
    gap: 30px;
    flex-direction: column;
}
.itemCardContainer{
    margin-top: 200px;
}
.itemCardContainer p{
    font-size: 2rem;
    margin-left: 1rem;
}